<h1>Trends for <%= @team.name %></h1>

<table>
  <thead>
    <th>Question</th>
    <% @trends_report.surveys.each do |survey| %>
        <th>
          <%= survey.created_at.strftime('%-d %b') %>
        </th>
    <% end %>
  </thead>
  <tbody>
    <% @trends_report.questions.each do |question| %>
        <tr>
          <td>
            <%= question.title %>
          </td>
          <% @trends_report.surveys.each do |survey| %>
            <td>
              <% rating = @trends_report.aggregate_rating_for(question, survey) %>
              <img src=<%= "/moods/#{Answer.categorize(rating)}.png" %>/>
            </td>
          <% end %>
        </tr>
    <% end %>
  </tbody>
</table>