<h1>agileplanning.io | Metrics</h1>

<div class="panel callout radius">
  <h3>Measure your team's health</h3>
  <p>
    This will be an app for automating Spotify style <a href="https://labs.spotify.com/2014/09/16/squad-health-check-model/">squad health checks</a>.
    <br />
    Work in progress. Suggestions and contributions <a href="https://github.com/jbrunton/agileplanning-io-metrics/issues">welcome</a>.
  </p>
  <%= link_to 'Create a survey', new_survey_path, class: 'radius button' %>
</div>

