// Place all the styles related to the Responses controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.inline-errors {
  .field_with_errors {
    display: inline-block;
  }
}

.mood {
  width: 30px;
  height: 30px;
  display: inline-block;
  &.good {
    background-image: url('/moods/good.png');
  }
}

table.answers {
  border-spacing: 8px 0;
  td {
    text-align: center;
  }
}

table.responses {
  border-spacing: 8px 4px;
  td {
    vertical-align: middle;
  }
}